@import "tailwindcss";

html,
body {
  min-height: 100%;
  margin: 0;
}

body {
  min-height: 100vh;
  background: linear-gradient(180deg, #408F60 0%, #9FE9C9 100%);
  font-family: "DM Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "DM Sans", sans-serif;
}